@import "../../assets/scss/colors.scss";

.home {
  display: flex;
  flex-direction: row;
}

.home__image {
  img {
    width: 100%;
  }
}
.home__entry {
  flex-direction: column;
  justify-content: space-between;
}

.home__entry__quote {
  font-family: "Sansita Swashed";
  font-size: 4rem;

  p {
    float: right;
    font-size: 2rem;
  }
}

@media (min-width: 700px) {
  .home {
    div.home__entry,
    div.home__image {
      width: 50%;
      display: flex;
    }
  }
}

@media (max-width: 700px) {
  .home div.home__image {
    display: none;
  }

  .home__entry__quote {
    font-size: 3rem;
  }
}
