@import "../../assets/scss/colors.scss";

.home {
  display: flex;
  flex-direction: row;

  div.home__entry,
  div.home__image {
    width: 50%;
    display: flex;
  }
}

.home__image {
  img {
    width: 100%;
  }
}
.home__entry {
  flex-direction: column;
  justify-content: space-between;
}

.home__entry__quote {
  font-family: "Sansita Swashed";
  font-size: 4rem;

  p {
    float: right;
    font-size: 2rem;
  }
}
