@import "../../assets/scss/colors.scss";

.apod__title {
  color: white;
  text-align: center;
  font-weight: normal;
}

.apod__media {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.apod__info {
  padding: 0px 50px 0px 50px;

  .apod__info__title {
    font-family: "Sansita Swashed";
  }

  .apod__info__date {
    width: fit-content;
    background-color: white;
    border-radius: 50px;
  }

  .apod__info__date--error {
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 1280px) {
  img {
    width: 80%;
  }
}
