@import "../../assets/scss/colors.scss";

.react-calendar__month-view__weekdays {
  color: black;
  font-size: 13px;
}

.react-date-picker {
  text-align: center;
}

.react-calendar__navigation {
  margin-bottom: unset;
}

.react-date-picker__wrapper {
  border: unset;
}

.react-date-picker__inputGroup__input {
  color: $color-primary;
}

.divDatePicker__button {
  border: none;
  padding: 7px 11px 7px 11px;
  color: $color-primary;
  background-color: white;
  border-radius: 50px;

  &:disabled {
    background: grey;
    &:hover {
      background: grey;
    }
  }

  &:hover {
    color: black;
  }
}
