@import "../../colors.scss";

.react-calendar__month-view__weekdays {
  color: black;
  font-size: 13px;
}

.react-calendar__navigation {
  margin-bottom: unset;
}

.react-date-picker__wrapper {
  border: unset;
}

.button-date {
  border: none;
  padding: 6px;
  border-radius: 5px;
  background: $color-primary;
  color: white;
  margin-right: 13px;

  &:disabled {
    background: grey;
    &:hover {
      background: grey;
    }
  }

  &:hover {
    background: #235669;
  }
}
