@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Sansita+Swashed&display=swap");

body {
  font-family: "Roboto", serif;
  color: #fff;
  background: linear-gradient(
    252deg,
    rgba(22, 43, 72, 1) 26%,
    rgba(59, 77, 172, 1) 100%
  );
  height: 100%;
  margin: 0;
}

.app {
  min-height: calc(100vh - 100px);
}
