@import "../../assets/scss/variables.scss";

.notFound__drawing {
  height: inherit;
  width: inherit;

  svg {
    height: inherit;
    width: inherit;
  }
}

.notFound__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notFound__btnHome {
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border-width: 0;
  margin-right: 10px;
  background-color: #000;
}

@media (max-width: $breakpoint) {
  .notFound__drawing {
    height: 100vw;
    width: 100vw;
  }

  a.btn {
    width: 100%;
    display: block;
  }
}

@media (min-width: $breakpoint) {
  .notFound {
    display: flex;
  }

  .notFound__text {
    width: 90%;
  }

  .notFound__drawing {
    svg {
      height: 80vh;
      margin-left: 10%;
    }
  }
}
